@model Chess.Models.chessModel
<html>
<head>
    <title>League Checkers - A ***** Journey</title>
    <link href="~/Content/chess.css" rel="stylesheet" />
    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@

    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.min.js"></script>
</head>


<body>

    <img alt="full screen background image" src="~/Content/MatchBackground.png" id="full-screen-background-image" /> 
    <div class="scoreboard">
        <div id="redPlayerDetails">
            <h1 id="redplayerName">Jugador 1</h1>
            <div id="redPlayerScore" class="score">
                <h3 id="redPlayerWins">Victorias:</h3>
                <h3 id="redPlayerLosts">Derrotas:</h3>
            </div>
        </div>


        <div id="bluePlayerDetails">
            <h1 id="blueplayerName">Jugador 2</h1>
            <div id="bluePlayerScore" class="score">
                <h3 id="bluePlayerWins">Victorias:</h3>
                <h3 id="bluePlayerLosts">Derrotas:</h3>
            </div>
        </div>
    </div>

    <table id="chessBoard">
        @{
            for (int i = 1; i <= 8; i++)
            {
                <tr>
                    @for (int j = 1; j <= 8; j++)
                    {
                        <td id='@i@j' class='@(((i + j) % 2 == 0) ? "white" : "black")'>
                            <span></span>
                            <p></p>
                            @*@if (i==4){i+=2;}*@
                            @foreach (var pieces in Model.pieces)
                            {
                                bool si = true;
                                if (pieces.col == j && pieces.row == i && si)
                                {

                                    <div id='@pieces.id' class='@pieces.color@pieces.name' data-color='@pieces.color'></div>
                                }
                            }
                        </td>
                    }
                </tr>
            }
        }
    </table>
</body>
</html>



<script>


    var x, y;
    var counter = 0;
    var pieces;
    var color = "";

    $("div").draggable({
        containment: "#chessBoard",
        revert: "invalid",
        scroll: false,
        cursor: "move",
        // cursorAt: { top: 56, left: 25 },
        start: function (event, ui) {//tas hareket ettirilmeden önceki konum bilgilerini al
            x = ui.offset.top;
            y = ui.offset.left;
        },
        drag: function () {
        },
        stop: function (event, ui) {
            //$("#" + event.originalEvent.target.id).offset({ top: x, left: y })
            //$("#62").css("background-color", color)
        }
    });

    $("div[data-color=Black]").draggable('disable');

    $("td").droppable({
        //activeClass: "state",

        hoverClass: "ui-state-active",
        drop: function (event, ui) {

            var value = {
                id: ui.draggable[0].id,
                target: event.target.id,
                col: event.target.id.substr(1, 1),
                row: event.target.id.substr(0, 1)
            }

            $.ajax({
                url: '@Url.Action("moveControl", "Home")',
                type: "POST",
                data: value,
                beforeSend: function (xhr) {
                },
                success: function (str) {
                    var result = str.split(';');
                    if (result[0] == "True") {
                        counter++;
                        if (counter % 2 == 0) {
                            $("div[data-color=Black]").draggable('disable');
                            $("div[data-color=White]").draggable('enable');
                        } else {
                            $("div[data-color=Black]").draggable('enable');
                            $("div[data-color=White]").draggable('disable');
                        }
                        if (result[1]) {
                            $("#" + result[1]).hide("explode", 1000);
                            $("#" + result[1]).remove();
                        }
                        if (result[2]) {
                            $("#" + result[2]).hide();
                            if (counter % 2 == 0) {
                                $("#" + result[2]).addClass('blackCrown').removeClass('blackPawn');
                                
                            } else {
                                $("#" + result[2]).addClass('whiteCrown').removeClass('whitePawn');
                            }
                            $("#" + result[2]).show("pulsate", 2000);
                        }
                    } else {
                        $("#" + ui.draggable[0].id).offset({ top: x, left: y })
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
            //$(this)
            //.addClass("ui-state-highlight")
            //.find("p")
            //.html("Dropped!");
        }
    })
</script>